.info-circle {
    $circle-size: 420px;
    $circle-thickness: 20px;
    
    font-family: Arial;
    margin: 64px auto;
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .outer-circle {
        background: #eee;
        width: $circle-size;
        height: $circle-size;
        margin: auto;
        border-radius: 50%;
    }
    
    .inner-circle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        width: $circle-size - $circle-thickness;
        height: $circle-size - $circle-thickness;
        margin: auto;
        border-radius: 50%;
    }
    
    .image {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        padding: 96px;
        margin: auto;
    }
    
    .info-blocks {
        position: relative;
        top: -400px;
        width: 400px;
        margin: auto;
        
        .info-block {
            position: absolute;
            width: 400px;
            transition: .8s transform;
            
            .info-icon {
                background: #389AE5;
                color: #fff;
                text-align: center;
                font-size: 24pt;
                padding: 24px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                
                i {
                    display: block;
                }
            }
        }
        
        & > div:nth-of-type(even) .info-icon {
            float: left;
            margin-right: 16px;
        }
        
        & > div:nth-of-type(odd) .info-icon {
            float: right;
            margin-left: 16px;
        }
        
        & > div:nth-of-type(odd) {
            text-align: right;
        }
        
        & > div:nth-of-type(1) {
            transform: translate(-290px, 0);
        }
        
        & > div:nth-of-type(2) {
            transform: translate(290px, 0);
        }
        
        & > div:nth-of-type(3) {
            transform: translate(-368px, 154px);
        }
        
        & > div:nth-of-type(4) {
            transform: translate(368px, 154px);
        }
        
        & > div:nth-of-type(5) {
            transform: translate(-290px, 320px);
        }
        
        & > div:nth-of-type(6) {
            transform: translate(290px, 320px);
        }
    }
    
    .info-text {
        float: left;
        width: calc(100% - 96px);
        margin-top: 4px;
        
        &.title-only {
            margin-top: 30px;
        }
        
        .title {
            font-size: 14pt;
            color: #333;
            margin: 0 0 8px 0;
        }
        
        .text {
            color: #777;
            line-height: 16pt;
            margin: 0;
        }
    }
    
    .text-upper {
        text-transform: uppercase;
    }
    
    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }
    
    @media screen and (max-width: 1160px) {
        .info-blocks {
            top: 48px;
            width: calc(100% - 128px);
            max-width: 420px;
            
            & > div:nth-of-type(n) {
                position: static;
                width: 100%;
                margin-bottom: 32px;
            }
            
            & > div:nth-of-type(odd) {
                transform: translate(64px, 0);
            }
            
            & > div:nth-of-type(even) {
                transform: translate(-64px, 0);
            }
        }
    }
}
